<div class="container">
  <table class="table table-striped">
    <tbody>
      <% @reservation_frames.each do |rf| %>
      <tr>
        <td>rf.to_human</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>